html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: #151518 !important;
    display: flex;
    flex-direction: column;
}

header {
  height: 3.7%;
  flex-shrink: 0;
  border-bottom: 1px solid #3a3a3d;
  background-color: #403e3d;
}

main {
  height: 100%;
}

footer {
  height: 2%;
  flex-shrink: 0;
  border-bottom: 1px solid #3a3a3d;
  background-color: #403e3d;
}